body {
    background-color: #fdfdfd;
}

.startp_background {
    padding: 40px 40px 128.3px;
}

.loginp_background {
    padding: 40px 39px 0 39px;
}

.signupp_background {
    padding: 40px 39px 0 39px;
}

.home_nogoalp_background {
    padding: 40px 39px 0 39px;
}

.home_makegoalp_background {
    padding: 40px 39px 0 39px;
}

.home_record_goalp_background {
    padding: 40px 39px 0 39px;
}

/* 프로필 페이지 background 설정 */

.profilep_header_background1 {
    /* position: relative; */
    position: fixed;
    top:0;
    width:100%;
    height: 146.5px;
    background-color: #81c9be;
    overflow-x: hidden;
    z-index: 10;
}

.profilep_header_background2 {
    position: relative;
    width:100%;
    height: 146.5px; 
    margin-top: 146.5px; 
    /* z-index: 10; */
    background-color: #81c9be;
    overflow-x: hidden;
}

.profilep_folder_background {
    width: 100%;
    height: 127px;
    white-space: nowrap;
    overflow-x: scroll;
    border-bottom: 2px solid #81c9be;
}

.profilep_folder_background::-webkit-scrollbar {
    display: none;
}

.profilep_each_folder_background {
    padding-left: 0;
    width: 77.85px;
    height: 125px;
    display: inline-block;
}

.profilep_goallist_background {
    width:100%;
    margin-bottom:83px;
    overflow: scroll;
    background-color: #f5cd65;
}

.profilep_col_list {
    border: 1px solid #ffffff;
    height: 125px;
}


/* 프로필 수정 페이지 background 설정 */

.profilep_edit_body {
    background-color: #81c9be;
}

.profilep_edit_header_background {
    position: absolute; 
    width:100%;
    height: 146.5px;
    background-color: #81c9be;
    z-index: 10;
    
    
}

.profilep_edit_main_background {
    position: absolute;
    margin-top: 146.5px;
    width: 100%;
    background-color: #81c9be;
    overflow: visible;
}


/* 친구 목록 페이지 background 설정 */

.friend_list_header_background {
    /* position: relative; */
    position: fixed;
    top:0;
    width:100%;
    height: 146.5px;
    background-color: #fdfdfd;
    overflow-x: hidden;
    z-index: 10;
}

.friend_list_sorting_criteria_background {
    width: 100%;
    height: 20px;
    margin-bottom: 0px;
}

.friend_list_my_info {
    position: relative;
    width:100%;
    height: 130px; 
    padding: 5px 40px 5px 40px;
    margin-top: 146.5px; 
    /* z-index: 10; */
    background-color: #fdfdfd;
    /* overflow-x: hidden; */
}

.friend_list_my_profile_info {
    position: relative;
    width: 100%;
    height: 70px;
    margin-top: 23px;
    padding: 11.5px 21.5px 11.5px 21.5px;
    border: 1px solid #81c9be;
    background-color: #81c9be;
}

.friend_list_friend_list {
    position: relative;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 83px;
    padding: 20px 40px 23px 40px;
    background-color: #fdfdfd;
    overflow: scroll;
}

.friend_list_each_friend_info {
    position: relative;
    width: 100%;
    height: 70px;
    margin-top: 23px;
    padding: 11.5px 21.5px 11.5px 21.5px;
    border: 1px solid #81c9be;
    background-color: #fdfdfd;
}

/* 친구 관리 페이지 background 설정 */

.friend_manage_main_background {
    position: relative;
    width: 100%;
    margin-top: 146.5px;
    margin-bottom: 83px;
    padding: 20px 40px 23px 40px;
    background-color: #fdfdfd;
    overflow: scroll;
}

.friend_manage_friend_request {
    margin-top: 35px;
}

.friend_manage_friend_delete {
    margin-top: 35px;
}

.friend_list_friend_decision {
    /* display: inline-block; */
    float: right;
}