/* safari default css release */

input,
textarea,
button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

input[type='radio'] {
    -webkit-appearance: radio
}


/* 스타트페이지 버튼 CSS */

.startp_start_btn {
    width: 169.5px;
    height: 50px;
    margin: 48px 6px 113.25px 0;
    padding: 14.5px 46px 12.5px;
    border-radius: 35px;
    box-shadow: 2.5px 2.5px 5px 0 rgba(0, 0, 0, 0.16);
    background-color: #81c9be;
    border: 0;
    outline: 0;
}


/* 로그인페이지 버튼 CSS */

.loginp_login_btn {
    width: 100%;
    height: 44px;
    margin: 41.5px 1px 10px 0.5px;
    padding: 11.5px 100px 9.5px 100px;
    border-radius: 35px;
    box-shadow: 2.5px 2.5px 5px 0 rgba(0, 0, 0, 0.16);
    background-color: #81c9be;
    border: 0;
    outline: 0;
}


/* 회원가입페이지 버튼 CSS */

.signupp_checkid_btn {
    float: right;
    width: 85px;
    height: 30px;
    padding: 0 0 0 0;
    margin-top: 4px;
    border-radius: 35px;
    background-color: #ffffff;
    border-color: #81C9BE;
    outline: 0;
}

.signupp_start_btn {
    width: 100%;
    height: 44px;
    margin: 60px 0 70px 0;
    padding: 11.5px 0 9.5px 0;
    border-radius: 35px;
    box-shadow: 2.5px 2.5px 5px 0 rgba(0, 0, 0, 0.16);
    background-color: #81c9be;
    border: 0;
    outline: 0;
}

.signupp_start_btn:disabled {
    background-color: #7E7E7E;
}

.signupp_radio_btn {
    margin: 20px 0 0 0;
}

.signupp_radio_btn input[type=radio] {
    position: absolute;
    opacity: 0;
}

.signupp_radio_btn input[type=radio]+.signupp_radio_btn-label:before {
    content: "";
    background: #ffffff;
    border-radius: 100%;
    border: 2px solid #7E7E7E;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;
    transition: all 250ms ease;
    display: inline-flex;
    margin-right: 8px;
    margin-left: 10px;
}

.signupp_radio_btn input[type=radio]:checked+.signupp_radio_btn-label:before {
    background-color: #81C9BE;
    box-shadow: inset 0 0 0 3px #ffffff;
}

.signupp_radio_btn input[type=radio]:focus+.signupp_radio_btn-label:before {
    outline: none;
    border-color: #7E7E7E;
}

.signupp_radio_btn input[type=radio]+.signupp_radio_btn-label:empty:before {
    margin-right: 0;
}


/* 홈-목표설정X 페이지 버튼 CSS */

.home_nogoalp_setgoal_btn {
    width: 70%;
    height: 44px;
    border-radius: 35px;
    box-shadow: 2.5px 2.5px 5px 0 rgba(0, 0, 0, 0.16);
    background-color: #81c9be;
    border: 0;
    outline: 0;
    display: block;
    margin: auto;
    margin-top: 30px;
}


/* 홈-목표설정 페이지 버튼 CSS */

.home_makegoalp_cancle_btn {
    width: 120px;
    height: 44px;
    border-radius: 35px;
    box-shadow: 2.5px 2.5px 5px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    border: 2px solid #81c9be;
    font-size: 20px;
    font-weight: bold;
    color: #81c9be;
    float: left;
    margin-left: 10px;
}

.home_makegoalp_ok_btn {
    width: 120px;
    height: 44px;
    border-radius: 35px;
    box-shadow: 2.5px 2.5px 5px 0 rgba(0, 0, 0, 0.16);
    background-color: #81c9be;
    border: 0;
    outline: 0;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    float: right;
    margin-right: 10px;
}

.time_type_radio_btn {
    margin: 20px 0 0 0;
}

.time_type_radio_btn input[type=radio] {
    position: absolute;
    opacity: 0;
}

.time_type_radio_btn input[type=radio]+.time_type_radio_btn-label:before {
    content: "";
    background: #ffffff;
    border-radius: 100%;
    border: 2px solid #7E7E7E;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;
    transition: all 250ms ease;
    display: inline-flex;
    margin-right: 8px;
}

.time_type_radio_btn input[type=radio]:checked+.time_type_radio_btn-label:before {
    background-color: #81C9BE;
    box-shadow: inset 0 0 0 3px #ffffff;
}

.time_type_radio_btn input[type=radio]:focus+.time_type_radio_btn-label:before {
    outline: none;
    border-color: #7E7E7E;
}

.time_type_radio_btn input[type=radio]+.time_type_radio_btn-label:empty:before {
    margin-right: 0;
}

/* 친구 목록 페이지 버튼 CSS */

.friend_list_sorting_button {
    height: 16px;
    margin-bottom: 18px;
    float: right;

    
}