/* 목표설정페이지 DIV CSS */

.icon_boarder {
    width: 42px;
    height: 42px;
    border: 2px solid #81C9BE;
    padding: 10px 10px 10px 10px;
    border-radius: 8%;
    margin: 0 0 0 0;
    float: left;
}

.home_makegoalp_grid {
    display: inline-grid;
    grid-template-columns: 102px 190px;
    grid-template-rows: 1fr;
}

.home_makegoalp_vertical_align {
    display: inline-block;
}

.home_makegoalp_horizontal_align {
    margin-top: 80px;
}


/* 목표리스트페이지 DIV CSS */

.icon_boarder_pink {
    width: 46px;
    height: 46px;
    border: 0;
    background-color: #FF8D8D;
    padding: 10px 10px 10px 10px;
    border-radius: 8%;
    margin: 0 0 0 0;
    display: flex;
}

.home_goallistp_modify_icon_border {
    margin-top: 5px;
    background-color: #F5F5F5;
    border-radius: 100%;
    padding: 3px 3px 3px 3px;
    width: 25px;
    height: 25px;
    display: flex;
    float: right;
}

.home_goallistp_horizontal_align {
    margin-left: 10px;
    margin-bottom: 35px;
    border: 0;
    border-bottom: 1px solid #81c9be;
    outline: 0;
    padding: 7px 0;
    transition: border-color 0.2s;
    font-size: 16px;
    color: #7E7E7E;
}

.home_goallistp_goal_list {
    display: inline-grid;
    grid-template-columns: 82px 215px;
    margin-bottom: 38px;
}

.home_goallistp_add_goal_border {
    background-color: #81C9BE;
    padding: 10px 10px 10px 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 120px;
    box-shadow: 2.5px 2.5px 5px 0 rgba(0, 0, 0, 0.16);
}


/* 목표실행페이지 DIV CSS */

.icon_boarder_pink_big {
    width: 70px;
    height: 70px;
    border: 0;
    background-color: #FF8D8D;
    padding: 10px 10px 10px 10px;
    border-radius: 8%;
    margin: 0 0 0 0;
    display: flex;
    margin: auto;
}

.home_record_goalp_goal_border {
    width: 65%;
    border: 0;
    border-bottom: 1px solid #81c9be;
    outline: 0;
    padding: 7px 0;
    transition: border-color 0.2s;
    display: block;
    margin: auto;
    margin-top: 25px;
}

.home_record_goalp_icon_border {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #81C9BE;
    box-shadow: 2.5px 2.5px 5px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    margin: auto;
    margin-top: 60px;
}

/* 프로필페이지 DIV CSS */

.profilep_edit_image_background {
    position: relative;
    width: 100%;
    padding: 0px 119px 0px 119px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.profilep_edit_message_background {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    padding: 30px 40px 0px 40px;
    /* background-color: blue; */
}

.profilep_edit_save_background {
    position: relative;
    width: 100%;
    padding: 0px 63px 0px 63px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.profilep_edit_message_box {
    position: relative;
    width: 100%;
    height: 68px;
    border-top: solid 2px #fdfdfd;
    border-bottom: solid 2px #fdfdfd;
}

/* 친구 관리 페이지 DIV CSS */

.friend_manage_search_background {
    position: relative;
    width: 100%;
    height: 35px;
}

.friend_manage_request_list {
    position: relative;
    width: 100%;
    height: 70px;
    margin-top: 0px;
    padding: 11.5px 21.5px 11.5px 21.5px;
    border: 1px solid #81c9be;
    background-color: #fdfdfd;
}

.friend_manage_friend_list {
    position: relative;
    width: 100%;
    height: 70px;
    margin-top: 25px;
    padding: 11.5px 21.5px 11.5px 21.5px;
    border: 1px solid #81c9be;
    background-color: #fdfdfd;
}
