/* 로그인페이지 input text CSS */

.loginp_input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #81c9be;
    outline: 0;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    font-size: 16px;
}


/* 회원가입페이지 input text CSS */

.signupp_input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #81c9be;
    outline: 0;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    font-size: 16px;
}

.signupp_input_short {
    width: 70%;
    border: 0;
    border-bottom: 1px solid #81c9be;
    outline: 0;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    font-size: 16px;
}


/* 홈-목표설정 페이지 */

.home_makegoalp_goal_input {
    width: 190px;
    margin-bottom: 35px;
    border: 0;
    border-bottom: 1px solid #81c9be;
    outline: 0;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    font-size: 16px;
    color: #7E7E7E;
}

.home_makegoalp_tag_input {
    width: 190px;
    margin-bottom: 35px;
    border: 0;
    border-bottom: 1px solid #81c9be;
    outline: 0;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    font-size: 16px;
    color: #7E7E7E;
}

/* 프로필설정 페이지  */

.profilep_edit_message_input {
    position:relative;
    margin-top: 4px;
    margin-bottom: 4px;
    width: fit-content;
    height: 56px;
    float: right;
    padding: 10px 10px 10px 10px;
    background-color: #fdfdfd;
    border: none;
    outline: none;
}

.profilep_edit_message_input::placeholder {
    width: 289px;
    height: 72px;
    font-family: NanumBarunGothic;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #81c9be;
}

/* 친구 관리 페이지 */

.friend_manage_search_input {
    margin-top: 0px;
    /* display: inline; */
    width: fit-content;
    float: right;
    border: 0;
    border-bottom: 1px solid #81c9be;
    outline: 0;
    background: transparent;
    transition: border-color 0.2s;
    font-size: 16px;
}

.friend_manage_search_input::placeholder {
    font-family: NanumBarunGothic;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #7e7e7e;
}